name: Release

on:
  pull_request_target:
    types: [closed]

permissions:
  contents: write

jobs:
  release:
    if: github.event.pull_request.merged == true
    
    uses: KUT0K1/pipeline-templates/.github/workflows/minecraft-release-mcpack.yml@master
    with:
      project_name: "Test"
      header_uuid: "123e4567-e89b-12d3-a456-426614174000"
      module_uuid: "abcdefab-cdef-abcd-efab-cdefabcdef12"
    secrets: inherit